<!doctype html>
<html>
  <head>
    <title>About </title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users/register">Register</a></li>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/convert">Convert</a></li>
    <li><a href="/about">About</a></li>
  </ul>

    <h1> This website does Currency Conversion  </h1>
    <h1>Choose your Currency and start converting</h1>
    <h2>We have many different currencies you can choose</h2>

  </body>
</html>