<!doctype html>
<html>
  <head>
    <title>About </title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users/register">Register</a></li>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/convert">Convert</a></li>
    <li><a href="/about">About</a></li>
  </ul>

    <h1> This website is a Currenncy Conversion  </h1>
    <h1>you get me and that</h1>

  </body>
</html>